
<!-- <pre>
    {{orders | json}}
</pre> -->

<div class="search-wrapper">
    <div class = "row">
       
        <select id="cat" [(ngModel)]="searchCategory" (change)="selectCategory()">
            <option *ngFor="let category of categories">{{category}}</option>
        </select>
        <input type="text" class="custom-input" placeholder="Search Here" [(ngModel)]="searchString" (keyup) = "inputChange(searchString)">
    </div>

</div>

<!-- <pre>
    {{searchObj | json}}
</pre> -->

<div class = "loading-wrapper" *ngIf = "showLoading">
    <h2>Loading..</h2>
</div>


<div class = "table-wrapper" *ngIf = "!showLoading">
    <div class = "order-row">
        <div class = "order-col centered-text">
            Order ID
        </div>
        <div class = "order-col centered-text">
            Customer Name
        </div>
        <div class = "order-col centered-text">
            Destination
        </div>
        <div class = "order-col centered-text">
            Menu Item
        </div>
        <div class = "order-col centered-text">
            Price
        </div>
    </div>
    <div class = "order-row" *ngFor = "let order of orders | searchFilter : searchObj">
        <div class = "order-col centered-text">
            {{order.id}}
        </div>
        <div class = "order-col centered-text">
            {{order.customer}}
        </div>
        <div class = "order-col centered-text">
            {{order.destination}}
        </div>
        <div class = "order-col centered-text">
            {{order.item}}
        </div>
        <div class = "order-col centered-text">
            ${{order.price}}
        </div>
    </div>
</div>